@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Besley:ital,wght@0,400..900;1,400..900&family=Instrument+Serif:ital@0;1&family=Manrope:wght@200..800&display=swap');

@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-xs: 30rem;

    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-logo: 'Besley', serif;
    --font-title: 'Instrument Serif', serif;
    --font-paragraph: 'Manrope', sans-serif;
    --font-technic: 'Asap', sans-serif;

    --color-dark-grey: #2e2e2e; /* dark-grey */
    --color-light-grey: #f4f4f4; /* light-grey */
    --color-coffee: #785f5f; /* coffee */
    --color-light-coffee: #c4b4ae; /* light coffee */
    --color-cream: #faf2e0; /* cream */
    --color-red-brick: #974141; /* red brick */
    --color-sea-dark: #4F7982; /* dark sea */
    --color-light-blue: #BDE3EB; /* light blue */

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);

    --animate-blink: blink 1s ease-in-out;
    --animate-emerge: emerge 300ms linear 300ms forwards;

    @keyframes blink {
        50% {
            opacity: 1;
            transform: scale(1.1);
        }
    }

    @keyframes emerge {
        from {
            opacity: 0 
        }
        to {
            opacity: 1;
        }
    }
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    button {
        cursor: pointer;
    }

    html, body {
        height: 100%;
    }
}

@layer components {
    .section {
        padding-inline: calc(var(--spacing) * 4);
        padding-block: calc(var(--spacing) * 8);
    }

    .input {
        outline-style: none;
        border: 1px solid var(--color-coffee);
        border-radius: var(--radius-md);
        background-color: var(--color-light-grey);
        padding-inline: calc(var(--spacing) * 4);
        padding-block: calc(var(--spacing) * 2);
        font-family: var(--font-paragraph);
        font-size: var(--text-base);
    }

    .input-secondary {
        outline-style: none;
        border-radius: var(--radius-sm);
        background-color: var(--color-white);
        padding-inline: calc(var(--spacing) * 4);
        padding-block: calc(var(--spacing) * 2);
        font-family: var(--font-paragraph);
        font-size: var(--text-base);
    }

    .label {
        font-family: var(--font-technic);
        font-size: var(--text-base);
        font-weight: 300;
        color: var(--color-coffee);
    }

    .area {
        margin-inline: auto;
        max-width: var(--container-7xl);
        padding-inline: calc(var(--spacing) * 3);
        padding-block: calc(var(--spacing) * 6);
    }

    .btn {
        padding-inline: calc(var(--spacing) * 4);
        padding-block: calc(var(--spacing) * 1);
        border: 2px solid var(--color-coffee);
        border-radius: var(--radius-md);
        color: var(--color-coffee);
    }

    .btn-primary {
        font-family: var(--font-technic);
        font-size: var(--text-base);
        line-height: calc(var(--text-base) * 1.5);
        background-color: var(--color-red-brick);
        padding-inline: calc(var(--spacing) * 4);
        padding-block: calc(var(--spacing) * 1);
        border: 2px solid var(--color-red-brick);
        border-radius: var(--radius-sm);
        color: var(--color-light-grey);
    }

    .btn-secondary {
        font-family: var(--font-technic);
        font-size: var(--text-base);
        line-height: calc(var(--text-base) * 1.5);
        padding-inline: calc(var(--spacing) * 4);
        padding-block: calc(var(--spacing) * 1);
        border: 2px solid var(--color-red-brick);
        border-radius: var(--radius-sm);
        color: var(--color-red-brick);
    }

    .btn-disabled {
        font-family: var(--font-technic);
        font-size: var(--text-base);
        line-height: calc(var(--text-base) * 1.5);
        padding-inline: calc(var(--spacing) * 4);
        padding-block: calc(var(--spacing) * 1);
        border: 2px solid var(--color-gray-300);
        border-radius: var(--radius-sm);
        color: var(--color-gray-300);
    }

    .page-title {
        font-family: var(--font-title);
        font-size: var(--text-8xl);
        line-height: calc(var(--text-8xl) * 1);
    }

    .heading-lg {
        font-family: var(--font-title);
        font-size: var(--text-3xl);
        line-height: calc(var(--text-3xl) * 1.2);
    }

    .heading-base {
        font-family: var(--font-title);
        font-size: var(--text-2xl);
        line-height: calc(var(--text-2xl) * 1.2);
    }

    .heading-sm {
        font-family: var(--font-title);
        font-size: var(--text-xl);
        line-height: calc(var(--text-xl) * 1.2);
    }

    .paragraph-lg {
        font-family: var(--font-paragraph);
        font-size: var(--text-lg);
        line-height: calc(var(--text-lg) * 1.3);
    }

    .paragraph-base {
        font-family: var(--font-paragraph);
        font-size: var(--text-base);
        line-height: calc(var(--text-base) * 1.3);
    }

    .paragraph-sm {
        font-family: var(--font-paragraph);
        font-size: var(--text-sm);
        line-height: calc(var(--text-sm) * 1.3);
    }

    .info-lg {
        font-family: var(--font-technic);
        font-size: var(--text-lg);
        line-height: calc(var(--text-lg) * 1.2);
    }

    .info-base {
        font-family: var(--font-technic);
        font-size: var(--text-base);
        line-height: calc(var(--text-base) * 1.2);
    }

    .info-sm {
        font-family: var(--font-technic);
        font-size: var(--text-sm);
        line-height: calc(var(--text-sm) * 1.2);
    }

    @media (width >= 30rem) {
        .area {
            padding-inline: calc(var(--spacing) * 6);
            padding-block: calc(var(--spacing) * 12);
        }
    }

    @media (width >= 40rem) {
        .section {
            padding-inline: calc(var(--spacing) * 8);
            padding-block: calc(var(--spacing) * 16);
        }

        .input {
            font-size: var(--text-lg);
        }

        .label {
            font-size: var(--text-base);
        }

        .area {
            padding: calc(var(--spacing) * 12);
        }

        .btn {
            padding-inline: calc(var(--spacing) * 4);
            padding-block: calc(var(--spacing) * 1);
            border: 2px solid var(--color-coffee);
            border-radius: var(--radius-md);
            color: var(--color-coffee);
        }

        .heading-lg {
            font-size: var(--text-4xl);
            line-height: calc(var(--text-4xl) * 1.2);
        }

        .heading-base {
            font-size: var(--text-3xl);
            line-height: calc(var(--text-3xl) * 1.2);
        }

        .heading-sm {
            font-size: var(--text-2xl);
            line-height: calc(var(--text-2xl) * 1.2);
        }

        .paragraph-lg {
            font-size: var(--text-2xl);
            line-height: calc(var(--text-2xl) * 1.3);
        }

        .paragraph-base {
            font-size: var(--text-xl);
            line-height: calc(var(--text-xl) * 1.3);
        }

        .paragraph-sm {
            font-size: var(--text-base);
            line-height: calc(var(--text-base) * 1.3);
        }
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

@utility paused {
  animation-play-state: paused;
}